@page "/"
@using MyComponents;

<BweDialog Show="showDialog"
           OnCancel="DialogCancelHandler"
           OnOk="DialogOkHandler">
    <Title>Quick List [@(Items.Count + 1)]</Title>
    <Body>
        Enter New Item: <input @bind="NewItem" />
    </Body>
</BweDialog>
  
<ol>
    @foreach (var item in Items)
    {
        <li>@item</li>
    }
</ol>

<button @onclick="OpenDialog">Show Dialog</button>

@code {
    private string NewItem;
    private List<string> Items = new List<string>();
    private bool showDialog = false;

    private void OpenDialog()
    {
        showDialog = true;
    }

    private void DialogCancelHandler(MouseEventArgs e)
    {
        NewItem = "";
        showDialog = false;
    }

    private void DialogOkHandler(MouseEventArgs e)
    {
        if (!string.IsNullOrEmpty(NewItem))
        {
            Items.Add(NewItem);
            NewItem = "";
        };
        showDialog = false;
    }
}
