@page "/"

<Alert Show="showAlert" OnOk="@(() => showAlert = false)">
    <h1>Alert</h1>
    <p>Today is @DateTime.Now.DayOfWeek.</p>
</Alert>

<button @onclick="@(() => showAlert = true)">
    Show Alert
</button>

@code {
    private bool showAlert = false;
}