################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch02/EmptyProject/EmptyProject/obj/HPD
/ch02/Sample/Sample/obj/HPD
/ch03/ModalDialog/ModalDialog/obj/HPD
/ch03/ModalDialog/MyComponents/obj/HPD
