################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch02/EmptyProject/EmptyProject/obj/HPD
