@inherits LayoutComponentBase

@using ShoppingCart.Services

@inject ICartService cartService

@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <h3>Cart Total: $@cartService.Total</h3>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    protected override void OnInitialized()
    {
        cartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        cartService.OnChange -= StateHasChanged;
    }
}
