@page "/"

@using KanbanBoard.Models

<NewTask OnSubmit="AddTask" @attributes="InputAttributes" />

<div class="row p-2">
    <Dropzone Priority="TaskPriority.High"
              TaskItems="TaskItems"
              OnDrop="OnDrop"
              OnStartDrag="OnStartDrag" />

    <Dropzone Priority="TaskPriority.Medium"
              TaskItems="TaskItems"
              OnDrop="OnDrop"
              OnStartDrag="OnStartDrag" />

    <Dropzone Priority="TaskPriority.Low"
              TaskItems="TaskItems"
              OnDrop="OnDrop"
              OnStartDrag="OnStartDrag" />
</div>

@code {
    public TaskItem CurrentItem;
    List<TaskItem> TaskItems = new List<TaskItem>();

    public Dictionary<string, object> InputAttributes = new Dictionary<string, object>()
    {
        { "maxlength", "25" },
        { "placeholder", "enter new task" },
        { "title", "This textbox is used to enter your tasks." }
    };

    protected override void OnInitialized()
    {
        TaskItems.Add(new TaskItem
        {
            TaskName = "Call Mom",
            Priority = TaskPriority.High
        });
        TaskItems.Add(new TaskItem
        {
            TaskName = "Buy milk",
            Priority = TaskPriority.Medium
        });
        TaskItems.Add(new TaskItem
        {
            TaskName = "Exercise",
            Priority = TaskPriority.Low
        });
    }

    private void OnStartDrag(TaskItem item)
    {
        CurrentItem = item;
    }

    private void OnDrop(TaskPriority priority)
    {
        CurrentItem.Priority = priority;
    }

    private void AddTask(string taskName)
    {
        var taskItem = new TaskItem()
        {
            TaskName = taskName,
            Priority = TaskPriority.High
        };
        TaskItems.Add(taskItem);
    }
}
