@page "/routing"
@page "/routing/{text}"

<h1>Blazor WebAssembly is @Text!</h1>

@code {
    [Parameter] public string Text { get; set; }

    protected override void OnInitialized()
    {
        Text = Text ?? "fantastic";
    }
}

